
<div class = "body">
  <mat-card class="col-12">
    <div>
      <mat-card class = "card">
        <!-- <div class = "header"> -->
          <mat-card-header class="mb-3">
           <div style="display: flex; justify-content: center;" class="w-100">
            <img style="max-width: 100%; max-height: 100%;" src="assets/image/Profile.jpg" alt="Photo">
           </div>
        </mat-card-header>
        <!-- </div> -->
      <div class = "title">
        <mat-card>
          <mat-card-title><h1 style="text-align: center;">Sanzila Hossain Tuya</h1></mat-card-title>
          <mat-card-subtitle><h5 style="text-align: center;">Designer • Developer • Dude</h5></mat-card-subtitle>
          <div style="display: flex; justify-content: center;"><button mat-raised-button color="accent" (click)="downloadMyFile()">Resume&nbsp;&nbsp;<mat-icon>cloud_download</mat-icon></button></div>
        </mat-card>
      </div>
      <!-- <div class = "content">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="About Me" (click)="target.scrollIntoView({ behavior: 'smooth', block: 'center' })">


            </mat-tab>
            <mat-tab label="Education"></mat-tab>
            <mat-tab label="Experiences"></mat-tab>
            <mat-tab label="Skills"></mat-tab>
            <mat-tab label="Awards & Participation"></mat-tab>
            <mat-tab label="Research Work"></mat-tab>
            <mat-tab label="Workshops"></mat-tab>
          </mat-tab-group>
      </mat-card-content>
    </div> -->
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>About Me</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="info_holder" style="display: flex;">
            <mat-card class ="column1"style="flex: 1 1 auto;">
              <h4>
                Hi! I am Sanzila, student of RWTH Aachen University doing my master's in Software System Engineering. Currently I am living in aachen but willing to travel every cities in the world!
                Every morning I wake up with happiness and go to bed motivated. I am the one who loves challanges but always worried about those challenges!
                Developing is nothing but mood lifting for me. Whenever I code, I forget sadness!
              </h4>

            </mat-card>
            <mat-card class="column2" style="flex: 1 1 auto;">
              <h2>Basic Information</h2>
              <h5>
                Date of Birth:&nbsp; 7th June 1995 <br>
                Nationality:&nbsp;Bangladeshi<br>
                Languages:&nbsp;Bangla&nbsp;(Native),&nbsp;English&nbsp;(Good),&nbsp;Deutsch&nbsp;(Beginner)<br>
                <mat-divider></mat-divider><br>
                Address:&nbsp;Rütscher Straße 6, 52072 Aachen, Germany<br>
                Phone: +491786040873&nbsp;(Deutschland)
                &nbsp;&nbsp;&nbsp;&nbsp;+8801939385443&nbsp;(Bangladesh)<br>
                Email:&nbsp;<a href="mailto:sanzila.tuya@rwth-aachen.de">sanzila.tuya@rwth-aachen.de</a><br>
                Profiles:&nbsp;<a href="https://www.facebook.com/biral.tuya/">Facebook</a>
                &nbsp;<a href="https://www.linkedin.com/in/sanzila-hossain-tuya/">Linkedin</a>
                &nbsp;<a href="https://github.com/BiralTuya">GitHub</a>
                &nbsp;<a href="https://codeforces.com/profile/sanzila.tuya">Codeforces</a>
                &nbsp;<a href="https://www.urionlinejudge.com.br/judge/en/profile/72569">URI</a>
                &nbsp;<a href="https://onlinejudge.org/index.php?option=com_comprofiler&Itemid=3">UVA</a>
              </h5>
            </mat-card>
        </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div style="display: flex;" class="info_holder">
      <mat-card class="column mr-3" style="flex: 1 1 auto;">
        <mat-card-title><h1>Education</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div>
          <br><h3>RWTH Aachen University
          &nbsp;-&nbsp;Master's in Software System Engineering</h3>
          <h5>October&nbsp;2019&nbsp;-&nbsp;Ongoing<br>
          Credit Completed: 41 out of 120</h5>
          <!-- <button mat-stroked-button color="basic">Transcript&nbsp;<mat-icon>cloud_download</mat-icon></button><br> -->
          <br><mat-divider></mat-divider><br>
        </div>
        <div>
          <h3>American International University Bangladesh
          &nbsp;-&nbsp;Bachelor's in Computer Science & Engineering</h3>
          <h5>2014&nbsp;-&nbsp;2018<br>
          Credit Completed: 148</h5>
          <!-- <button mat-stroked-button color="basic">Transcript&nbsp;<mat-icon>cloud_download</mat-icon></button><br> -->
          <br><mat-divider></mat-divider><br>
        </div>
        <div>
          <h3>BCIC College
          &nbsp;-&nbsp;Higher Secondary Certificate</h3>
          <h5>2011&nbsp;-&nbsp;2013</h5>
          <br><mat-divider></mat-divider><br>
        </div>
        <div>
          <h3>Monipur High School
          &nbsp;-&nbsp;Secondary School Certificate</h3>
          <h5>2002&nbsp;-&nbsp;2011</h5>
        </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="column" style="flex: 1 1 auto;">
        <mat-card-title><h1>Experiences</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div>
            <br><h3>RWTH Aachen University
            &nbsp;-&nbsp;Student Assistant&nbsp;(HiWi)</h3>
            <h5>August&nbsp;2020&nbsp;-&nbsp;December&nbsp;2020<br>
            Institute of General Mechanics</h5>
            <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Naztech Inc. Ltd.&nbsp;(Dhaka,&nbsp;Bangladesh)
            &nbsp;-&nbsp;Graduate Trainee</h3>
            <h5>January&nbsp;2019&nbsp;-&nbsp;July&nbsp;2019</h5>
            <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Tula's Institute&nbsp;(Dehradun,&nbsp;India)
              &nbsp;-&nbsp;Intern</h3>
              <h5>February&nbsp;2018&nbsp;-&nbsp;March&nbsp;2018</h5>
            <br><mat-divider></mat-divider><br>
          </div>
          <div>
              <h3>AIESEC&nbsp;(Dehradun,&nbsp;India)
                &nbsp;-&nbsp;Volunteer</h3>
                <h5>February&nbsp;2018&nbsp;-&nbsp;March&nbsp;2018</h5><br>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div style="display: flex;" class="info_holder">
      <mat-card class="column mr-3" style="flex: 1 1 auto;">
        <mat-card-title><h1>Skills</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div>
            <br><h3>Languages</h3>
            <h5>C,&nbsp;C++,&nbsp;C#,&nbsp;Java,&nbsp;Python,&nbsp;Julia<br>
              <a href="https://github.com/BiralTuya/CGPA_calculator">CGPA Calculator</a>
              ,&nbsp;<a href="hhttps://github.com/BiralTuya/Java-project">Tourist Management</a>
              ,&nbsp;<a href="https://github.com/BiralTuya/Grocery-Shop-C-">Grocery Shop Management</a></h5>
              <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Web Development</h3>
            <h5>PHP,&nbsp;JavaScript,&nbsp;TypeScript,&nbsp;AJAX,&nbsp;HTML5,&nbsp;CSS<br>
            <a href="https://github.com/BiralTuya/BBSM-Sourcing-Website">BBSM Sourcing Website</a></h5>
          <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Frameworks</h3>
            <h5>Angular<br>
            <a href="www.sanzila.cf">Portfolio</a></h5>
            <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Library</h3>
            <h5>Bootstrap4<br>
              <a href="hhttps://github.com/BiralTuya/Mitsumaru-BD">Mitsumaru BD</a></h5>
              <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Database</h3>
            <h5>MySQL</h5>
              <br><mat-divider></mat-divider><br>
          </div>
          <div>
            <h3>Tools</h3>
            <h5>LaTex,&nbsp;MATLAB</h5><br>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="column" style="flex: 1 1 auto;">
        <mat-card-title><h1>Awards & Participation</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br><h3>AIUB CS FEST 2017</h3>
          <h5>
            Runners Up at ICT Quiz
          </h5>
          <mat-divider></mat-divider>
          <br><h3>AIUB Girls Programming Contest 2017</h3>
          <h5>
            Ranked 5th
          </h5>
          <mat-divider></mat-divider>
          <br><h3>International Collegiate Programming Preliminary Contest 2017</h3>
          <h5>
            Team: AIUB_BlackOs
          </h5>
          <mat-divider></mat-divider>
          <br><h3>National Collegiate Programming Preliminary Contest 2017 </h3>
          <h5>
            Team: AIUB_BlackOs
          </h5>
          <mat-divider></mat-divider>
          <br><h3>International Collegiate Programming Preliminary Contest 2016 </h3>
          <h5>
            Team: AIUB_Crackerz
          </h5>
        </mat-card-content>
      </mat-card>
    </div>
    <div style="display: flex;" class="info_holder mb-3">
      <mat-card class="column mr-3" style="flex: 1 1 auto;">
        <mat-card-title><h1>Research Works</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br><h5>
            •&nbsp;Uncertainty-Driven 3D Pose Estimation of Objects and Scenes from a Single RGB Image. Supervisor : Dr.
            Md. Saefuddin Saef, Professor, AIUB
          </h5>
          <h5>
            •&nbsp;Bangla Text Processing from Raw Image
            Supervisor: Sajib Hasan, Assistant Professor, AIUB
          </h5>
        </mat-card-content>
      </mat-card>

      <mat-card class="column" style="flex: 1 1 auto;">
        <mat-card-title><h1>Workshops</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br><h5>
            •&nbsp;Advance Python Programmer and Django Developer (Certified by CISCO) AIUB
          </h5>
          <h5>
            •&nbsp;Mobile Game Graphics Design- Technologies: Blender, ICT Division, Bangladesh
          </h5>
          <h5>
            •&nbsp;Mobile Game Development- Technologies: Unity3D, ICT Division, Bangladesh
          </h5>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-footer style="text-align: center;">
          <h5>
          This Template is Created by: Sanzila Hossain Tuya<br>
          All rights reserved<br>
          <div class="mt-3">
            <fa-icon [icon]="faFacebook" size="2x"><a target="_blank" href="https://www.facebook.com/biral.tuya/"></a></fa-icon>
            &nbsp;<fa-icon [icon]="faLinkedin" size="2x"><a target="_blank" href="https://www.linkedin.com/in/sanzila-hossain-tuya/"></a></fa-icon>
            &nbsp;<fa-icon [icon]="faGithub" size="2x"><a target="_blank" href="https://github.com/BiralTuya"></a></fa-icon>
          </div>
          </h5>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-card>
</div>

<div class="scroll-to-top" [ngClass]="windowScrolled ? 'show-scrollTop' : ''" >
  <button mat-button style="background: grey;" (click)="scrollToTop()">
      <fa-icon [icon]="faChevronUp"></fa-icon>
  </button>
</div>
