<div class = "body">
  <mat-card>
    <div>
      <mat-card class = "card">
        <div class = "header">
          <mat-card-header>
            <img mat-card-image src="../assets/image/Profile.jpg" alt="Photo">
        </mat-card-header>
        </div>
      <div class = "title">
        <mat-card>
          <mat-card-title><h1 style="text-align: center;">Sanzila Hossain Tuya</h1></mat-card-title>
          <mat-card-subtitle><h5 style="text-align: center;">Designer • Developer • Dude</h5></mat-card-subtitle>
        </mat-card>
      </div>
      <div class = "content">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="About Me" (click)="target.scrollIntoView({ behavior: 'smooth', block: 'center' })">


            </mat-tab>
            <mat-tab label="Education"></mat-tab>
            <mat-tab label="Experiences"></mat-tab>
            <mat-tab label="Skills"></mat-tab>
            <mat-tab label="Awards & Participation"></mat-tab>
            <mat-tab label="Research Work"></mat-tab>
            <mat-tab label="Workshops"></mat-tab>
          </mat-tab-group>
      </mat-card-content>
    </div>
      </mat-card>
    </div>
    <div #target>
      <mat-card class="card">
        <mat-card-title><h1>About Me</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div style="display: flex;">
            <mat-card class ="column1"style="flex: 1 1 auto;">
              <h5>
                Hi! I am Sanzila, student of RWTH Aachen University doing my master's in Software System Engineering. Currently I am living in aachen but willing to travel every cities in the world!
              </h5>

            </mat-card>
            <mat-card class="column2" style="flex: 1 1 auto;">
              <h2>Basic Information</h2>
              <h5>
                Date of Birth:&nbsp; 7th June 1995 <br>
                Nationality:&nbsp;Bangladeshi<br>
                Languages:&nbsp;Bangla&nbsp;(Native),&nbsp;English&nbsp;(Good),&nbsp;Deutch&nbsp;(Beginner)<br>
                <mat-divider></mat-divider><br>
                Phone: +491786040873&nbsp;(Deutchland)
                &nbsp;&nbsp;&nbsp;&nbsp;+8801939385443&nbsp;(Bangladesh)<br>
                Email:&nbsp;<a href="mailto:sanzila.tuya@rwth-aachen.de">sanzila.tuya@rwth-aachen.de</a><br>
                Profiles:&nbsp;<a href="https://www.facebook.com/biral.tuya/">Facebook</a>
                &nbsp;<a href="https://www.linkedin.com/in/sanzila-hossain-tuya/">Linkedin</a>
                &nbsp;<a href="https://github.com/BiralTuya">GitHub</a>
                &nbsp;<a href="https://codeforces.com/profile/sanzila.tuya">Codeforces</a>
                &nbsp;<a href="https://www.urionlinejudge.com.br/judge/en/profile/72569">URI</a>
                &nbsp;<a href="https://onlinejudge.org/index.php?option=com_comprofiler&Itemid=3">UVA</a>
              </h5>
            </mat-card>
        </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>Education</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>Experiences</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>Skills</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>Awards & Participation</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>Research Works</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-title><h1>Workshops</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>
